body {
  background-color: #f6f6f6;
}
button:focus { 
  outline: none !important;
}

.container {
  min-height: 100vh;
  min-width: 960px;
  min-width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.footer-main {
  display: flex;
  min-width: 960px;
  box-shadow: 0px 0px 0px 1px rgb(61 66 81 / 20%), 0px 1px 4px -1px rgb(61 66 81 / 30%);
  background-color: #E8A87C;

}

.footer-block {
  width: 100%;
  display: flex;
  height: auto;
}

/* header */
.header-main {
  display: flex;
  min-width: 960px;
  box-shadow: 0px 0px 1px 0px rgb(61 66 81 / 20%), 0px 1px 4px -1px rgb(61 66 81 / 30%);
  background-color: #E8A87C;
}

.header-block {
  display: flex;
  width: 100%;
  height: auto;
}

.links-box {
  width: 70%;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.header-link {
  margin-left: 10px !important;
  margin-right: 5px !important;
}

.add-product-btn {
  margin-right: 10px !important;
}

.footer-link {
  margin-left: 10px !important;
  margin-right: 5px !important;
}

.logo {
  width: auto;
  display: flex;
  align-items: center;
  margin-right: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 50px;
}

.auth-links-box {
  height: auto;
  display: flex;
  margin-right: 20px;
}

.avatar {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.profile-button-content {
  display: flex;
  align-self: center;
}

/* home page */
.home-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-box {
  display: flex;
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.categories-box {
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  /* for sticky positioning */
  position: -webkit-sticky;
  position: sticky;
  align-self: flex-start;
  top: 2%;

  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 16%);
  background-color: #fff;
}

.products-box {
  display: grid;
  width: 100%;
  margin-left: 30px;
  margin-right: 30px;
}

.product-card {
  display: flex;
  font-size: 15px;
  padding: 5px;
  justify-content: center;
  margin-bottom: 12px;

  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 16%);
  background-color: #fff;
}

.product-thumbnail-box {
  display: flex;
  align-items: center;
  min-width: 200px;
  min-height: 200px;
}

.product-thumbnail {
  height: 200px;
  width: 200px;
  border-radius: 8px;
  padding: 5px;
}

.product-info-box {
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
}

a:hover.product-info-box {
  text-decoration: none;
  color: #E8A87C;
}

a.product-info-box {
  text-decoration: none;
  color: black;
}

.product-title {
  font-size: 22px;
  height: fit-content;
  word-wrap: break-word;
  margin-bottom: 15px;
}

.product-description {
  height: fit-content;
  font-size: 14px;
  color: black !important;
  word-wrap: break-word;
}

.product-price-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  flex-grow: 0;
}

.product-price {
  font-weight: bold;
  font-size: 17px;
  color: green;
}

.purchase-button {
  width: 30px;
  height: 30px;

  align-self: flex-end;
}

.menu-box {
  display: flex;
  height: fit-content;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 16%);
  background-color: #fff;
}

.category-button {
  padding: 10px;
}

/* add product */

.add-product-mainbox {
  display: flex;
  flex-direction: column;
}

.form-box {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 20px;

  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 16%);
  background-color: #fff;
}

.head-label {
  margin-bottom: 30px;
}

.upload-box {
  display: flex;
  max-height: 200px;
  max-width: 200px;
  margin-bottom: 20px;
  margin-top: 20px;
  align-self: center;
}

.product-image {
  height: 200px;
  width: 200px;
  border-radius: 8px;
}

.clear-button-layout {
  display: none;
}

.clear-button-layout:hover {
  display: block;
}

.img-link:hover + .clear-button-layout {
  display: block;
}

.choose-image-box {
  height: 200px;
  width: 200px;

  display: flex;
  justify-content: center;

  border: dashed;
  border-radius: 8px;
  border-width: 1px;
  border-color: gray;
}

.choose-image-text {
  align-self: center;
  font-size: 12px;
  margin-right: 5px;
  margin-left: 5px;
}

.button-label-upload {
  text-align: center;
  margin-right: 20px;
}

.img-box {
  position: relative !important;
}

.clear-icon {
  fill: white !important;
}

.clear-icon:hover {
  fill: gray !important;
}

.clear-button {
  position: absolute !important;
  top: 0%;
  right: 0%;
  width: 10px;
  height: 10px;
  background: black !important;
  border-radius: 0px !important;
}

.create-product-button {
  align-self: flex-start;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.field-box {
  margin-top: 6px;
  margin-bottom: 6px;
}

.field-label {
  margin-bottom: 6px;
}

.field {
  margin-top: 0px !important;
}

@media screen and (max-width: 700px) {
  /* header */

}