.cart-block {
  max-width: 900px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.cart {
  width: 100%;
}

.cart-label {
  margin-left: 20px;
}

.non-user-cart-header {
  display: flex;
  justify-content: space-between;
}

.remove-all-from-cart-btn {
  height: 40px !important;
  align-self: center;
}

.total-price-label {
  text-align: end;
  margin-right: 20px;
}