.add-product {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 900px;
  width: 100%;
}

.form-block {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 20px;
}

.head-label {
  margin-bottom: 30px;
}

.upload-block {
  display: flex;
  max-height: 200px;
  max-width: 200px;
  margin-bottom: 20px;
  margin-top: 20px;
  align-self: center;
}

.product-image {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.clear-btn-layout {
  display: none;
}

.clear-btn-layout:hover {
  display: block;
}

.img-link:hover + .clear-btn-layout {
  display: block;
}

.choose-image-block {
  height: 200px;
  width: 200px;

  display: flex;
  justify-content: center;

  border: dashed;
  border-radius: 8px;
  border-width: 1px;
  border-color: gray;
}

.choose-image-text {
  align-self: center;
  font-size: 12px;
  margin-right: 5px;
  margin-left: 5px;
}

.btn-label-upload {
  text-align: center;
  margin-right: 20px;
}

.img-block {
  position: relative !important;
}

.product-image-error-block {
  color: rgba(255, 0, 0, 0.575);
  text-align: end;
}

.clear-icon {
  fill: white !important;
}

.clear-icon:hover {
  fill: gray !important;
}

.clear-btn {
  position: absolute !important;
  top: 0%;
  right: 0%;
  width: 10px;
  height: 10px;
  background: black !important;
  border-radius: 0px !important;
}

.field-block {
  margin-top: 6px;
  margin-bottom: 6px;
}

.field-label {
  margin-bottom: 6px;
}

.field {
  margin-top: 0px !important;
}

.image-upload-block {
  display: flex;
  flex-direction: column;
}

.add-buttons-block {
  display: flex;
  width: 100%;
}

.create-product-btn {
  align-self: flex-start;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.delete-product-btn {
  background-color: rgba(177, 5, 5, 0.856) !important;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  margin-left: 10px !important;
}