.home-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-block {
  display: flex;
  min-width: 100%;
  justify-content: center;
}

.categories-block {
  display: flex;
  flex-direction: column;
  min-width: min-content;
  width: fit-content;
  max-width: 230px;
  /* for sticky positioning */
  position: -webkit-sticky;
  position: sticky;
  top: 2%;
  align-self: flex-start;
  margin-right: 30px;
  padding: 30px;
}

.products-block {
  display: grid;
  width: 100%;
  max-width: 900px;
  min-width: 466px;
  align-self: flex-start;
}

.product-card {
  display: flex;
  font-size: 15px;
  padding: 5px;
  align-items: center;
  margin-bottom: 12px;
}

.product-preview-block {
  display: flex;
  align-items: center;
  min-width: 200px;
  min-height: 200px;
}

.product-preview {
  height: 200px;
  width: 200px;
  
  object-fit: cover;
  border-radius: 8px;
  padding: 5px;
}

.product-info-block {
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
}

a:hover.product-info-block {
  text-decoration: none;
  color: #E8A87C;
}

a.product-info-block {
  text-decoration: none;
  color: black;
}

.product-title {
  font-size: 22px;
  height: fit-content;
  word-wrap: break-word;
  margin-bottom: 15px;
}

.product-description {
  height: fit-content;
  font-size: 14px;
  color: black !important;
  word-wrap: break-word;
}

.product-price-block {
  display: flex;
  height: 100%;
  min-width: max-content;
  flex-direction: column;
  justify-content: space-between !important;
  align-self: flex-start;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  flex-grow: 0;
}

.product-price {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
  color: green;
  text-align: end;
}

.display-cart-btn-block {
  display: flex;
  justify-content: end;
}

.cart-btn {
  width: 30px;
  height: 30px;
}

.main-menu-block {
  display: flex;
  flex-direction: column;
  height: fit-content;
  max-width: 400px;
  width: fit-content;
  min-width: fit-content;
  /* for sticky positioning */
  position: -webkit-sticky;
  position: sticky;
  top: 2%;
}

.menu-block {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-left: 30px;
}

.search {
  padding: 20px !important;
  margin-bottom: 20px !important;
}

.search-block {
  margin-top: -10px !important;
}

.clear-search-btn {
  margin-right: -10px !important;
  width: 40px !important;
  height: 40px !important;
}

.search-btn-icon {
  margin-right: -17px !important;
  width: 40px !important;
  height: 40px !important;
}

.category-btn {
  padding: 10px;
}

.category-selected {
  /* #79716c1f  #E8A87C */
  background-color: #79716c1f !important;
}

.no-products-block {
  text-align: center;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: center;
  min-height: 200px;
}

/* pagination */

.pagination-block {
  display: flex;
  min-width: 100%;
  min-height: 37px;
  justify-content: center;
  margin-bottom: 10px;
}

.pages-info {
  align-self: center;
}

.previous-pages {
  display: flex;
  margin-right: 30px;
}

.next-pages {
  display: flex;
  margin-left: 30px;
}

.filters-block {
  display: flex;
  flex-direction: column;
}

.filters-btns-block {
  display: flex;
}

.filters-btn {
  width: 100% !important;
}

.filters-apply-btn {
  margin-right: 10px !important;
}

.filters-label {
  text-align: center;
}

.price-filter-block {
  display: flex;
  justify-content: space-between;
}

.filter-field {
  width: 170px !important;
}

.filter-name {
  margin-bottom: 0px !important;
}

.price-from-field {
  margin-right: 10px !important;
}