{% load i18n %}
{% autoescape off %}

<p>
  {% blocktranslate %}
    You're receiving this email because you requested a password reset for your user account at {{ site_name }}.
  {% endblocktranslate %}
</p>

<p>
  {% translate "Please go to the following page and choose a new password:" %}
  {% block reset_link %}
    {{ protocol }}://{{ domain }}/reset/{{ uid }}/{{ token }}/
  {% endblock reset_link %}
  Or click here
  <a href="http://127.0.0.1/reset/{{ uid }}/{{ token }}/">Another link</a>
</p>

<p>
  {% translate 'Your username, in case you’ve forgotten:' %} {{ user.get_username }}
</p>

<p>
  {% translate "Thanks for using our site!" %}
</p>

<p>
  {% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}
</p>

{% endautoescape %}
