.login-btn {
  min-height: 30px !important;
  min-width: 130px !important;
  margin-right: 5px !important;
}

.login-signup-btn {
  min-height: 30px !important;
  min-width: 130px !important;
  margin-left: 5px !important;
}

.login-forgot-block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
  width: 100%;

  margin-top: 15px;
}

.forgot-link {
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  width: fit-content;
}